<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="site-footer border-top" th:fragment="footer">
    <div class="row text-center">
        <div class="col-md-12">
            <p>Copyright &copy; 2022 | This template is made by <a href="https://vk.com/pazharkin" target="_blank" class="text-primary">Azhar Yebekenova</a></p>
        </div>
    </div>
</footer>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>
</html>