<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout}">
<body>
<!--<div class="site-section" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="images/cloth_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">Tank Top T-Shirt</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>
                <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
                <p><strong class="text-primary h4">$50.00</strong></p>
                <div class="mb-1 d-flex">
                    <label for="option-sm" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
                    </label>
                    <label for="option-md" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
                    </label>
                    <label for="option-lg" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
                    </label>
                    <label for="option-xl" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
                    </label>
                </div>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>

                </div>
                <p><a href="cart.html" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>

            </div>
        </div>
    </div>
</div>-->




<div class="site-section" layout:fragment="content">
    <div class="container">
        <div class="row">
    <form th:action="@{'/update-product/' + ${product.id}}" method="post" th:object="${product}">
        <div class="mb-3">
            <label for="productName" class="form-label">Name</label>
            <input th:value="${product.name}" type="text" class="form-control" id="productName" name="productName" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="productImageURL" class="form-label">Image URL</label>
            <input th:value="${product.imageURL}" th:field="*{imageURL}" type="text" class="form-control" id="productImageURL" name="productImageURL">
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input th:value="${product.brand}" th:field="*{brand}" type="text" class="form-control" id="brand" name="brand">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <input th:value="${product.description}" th:field="*{description}" type="text" class="form-control" id="productDescription" name="productDescription">
        </div>
        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients</label>
            <input th:value="${product.ingredients}" th:field="*{ingredients}" type="text" class="form-control" id="ingredients" name="ingredients">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input th:value="${product.price}" th:field="*{price}" type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" th:field="*{category.id}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Gender</label>
            <select name="gender" id="gender">
                <option th:value="${product.gender!=null?product.gender.name:''}" th:text="${product.gender!=null?product.gender.name:''}"></option>
                <option value="1">муж</option>
                <option value="2">жен</option>
                <option value="3">унисекс</option>
            </select>
        </div>

        <div class="modal-footer">
            <a th:href="@{'/'}" class="btn btn-secondary">Close</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>
</body>
</html>